body {
  font-family: 'Gilroy', sans-serif !important;
}

p, span, div, a {
  font-family: 'Gilroy', sans-serif !important;
}

.title {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: 600 !important;
  font-size: 25px !important;
}

.button {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  transition: .3s;
  position: relative;
  z-index: 0;
  font-size: 12.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button--black {
  background-color: #173cc1;
  color: #ffffff;
  border: 1px solid #173cc1;
}

.button--reverse {
  background: #ffffff;
  padding: 12px;
  border: #173cc1;
}

.button--reverse:hover {
  background: #173cc1;
}

.button--black:hover {
  background: #0E1B7D;
}

.menu-filter a {
  border-radius: 8px;
}

.menu-filter a:hover {
  background: #ECF0FF;
}

.menu-filter.menu-filter--active a {
  background: #173cc1;
}

.button--icon.button--icon-lone {
  padding: 12px;
}

.tickets {
  border: none;
}

.tickets-legend {
  color: #666666;
  font-size: 16px;
  font-weight: 600 !important;
}

.ticket:nth-child(even) {
  background: transparent;
}

.ticket:nth-child(even):hover, .ticket:nth-child(odd):hover {
  background-color: #ECF0FF !important;
  border-radius: 8px;
}

.badge {
  border-radius: 8px;
}

.badge--red {
  background: #FCD1FF;
  color: #000000;
}

.badge--green {
  color: #ffffff;
  background: #000000 ;
}

.message-content {
  font-family: 'Gilroy', sans-serif !important;
}

.see-all-tickets  {
  font-family: 'Gilroy', sans-serif !important;
}

.form-field textarea, .form-field label, .form-field .button-nest, .field-attach, .form-field {
  border-radius: 8px;
}

.message {
  border-radius: 0 8px 8px 0;
}

.message.message--incoming::before {
  background: #173cc1;
}

.message.message--outgoing::before {
  background: #FCD1FF;
}

.message-header .message-team {
  color: #000000;
}

.banner.banner--info {
  background: #ecf0ff;
  color: #173cc1;
  border-radius: 5px;
}