body {
  font-family: 'Gilroy', sans-serif !important;
}

p, span, div {
  font-family: 'Gilroy', sans-serif !important;
}

.title {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: 600 !important;
  font-size: 25px !important;
}

.button {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  transition: .3s;
  position: relative;
  z-index: 0;
  font-size: 12.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button--black {
  background-color: #173cc1;
  color: #ffffff;
  border: 1px solid #173cc1;
}

.button--reverse {
  background: #ffffff;
  border-radius: 100%;
  padding: 12px;
}

.button--reverse:hover {
  background: #173cc1;
}

.button--black:hover {
  background: #0E1B7D;
}

.menu-filter.menu-filter--active a {
  background: #173cc1;
}

.button--icon.button--icon-lone {
  padding: 12px;
}

.ticket:nth-child(even) {
  background-color: #ECF0FF;
}

.ticket:hover {
  background-color: #ECF0FF;
}