body {}

.title {
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 600 !important;
    font-size: 25px !important;
}

.button {
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 0;
    font-size: 12.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button--black {
    font-size: 16.11px;
    background-color: #173cc1;
    color: #ffffff;
    border: 1px solid #173cc1;
}

.button--reverse {
    background: #ffffff;
}

.button--reverse:hover {
    background: #173cc1;
}

.button--black:hover {
 background: #0E1B7D;
}