body {}

.title {
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 600 !important;
    font-size: 25px !important;
}

.button {
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 0;
    font-size: 12.8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/*.button--black {*/
/*    height: 50px;*/
/*    font-size: 16.11px;*/
/*    min-width: 50px;*/
/*    background-color: #173cc1;*/
/*    color: #ffffff;*/
/*    border: 1px solid #173cc1;*/
/*}*/